*{
    box-sizing: border-box;
    margin:0;
    padding:0;
}

/* container  */
#container{
    margin: 20px auto;
    width: 80%;
}

/* header  */
header{
    height: 70px;
    background-color: #E67AE6;
    margin-bottom: 20px;
}

/* main  */
.section.top{
    height: 300px;
    background-color: #E0D479;
    margin-bottom: 20px;
}

.section.bottom{
    height: 800px;
    background-color: #0088FF;
    margin-bottom: 10px;
}
/* fine main  */

/* main bottom  */
.section.bottom .section__header{
    height: 19%;
    margin-bottom: 1%;
    background-color: #AACEE6 ;
}

.section.bottom .section__container{
    margin-bottom: 1%;
    height: 79%;
}

.section.bottom .section__container::after{
    content: "";
    display: table;
    clear: both;
}

    /* posizionamento bottom float  */
.section.bottom .section__container .section__aside, .section.bottom .section__container .section__article{
    height: 632px;
    background-color: #AACEE6 ;
    float: left;
}

.section.bottom .section__container .section__aside{
    width: 20%;
}

.section.bottom .section__container .section__article{
    width: 58%;
    margin: 0 1%;
}
    /* fine posizionamento bottom float  */

/* fine main bottom  */


/* footer  */
footer{
    height: 50px;
    background-color:  #8903FF;    
}